*{
    font-family: sans-serif;
    
}
body{
    margin: 2.0;
    padding: 2.0;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
li{
    margin: 1em;
}
footer{
    text-align: center;
    font-weight: bold;
}